* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

body {
    background-color: #121212;
    color: white;
}

h1 {
    text-align: center;
    margin: 1em;
    font-size: 6em;
    text-transform: uppercase;
    user-select: none;
    letter-spacing: 0.1em;
}

.container {
    margin: 2em auto;
    max-width: 50em;
}

.button-row > button {
    height: 2.7em;
}

.button-row {
    margin-bottom: 1em;
}

.display-box{
    width: inherit;
    text-align: right;
    background-color: black;
    font-size: 5vh;
    padding: 0.3em;
    padding-bottom: 0.5em;
    margin-bottom: 0.3em;
    border-radius: 0.3em;
    border: 2px solid orange;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.two-col {
    width: 45%;
}

.one-col {
    width: 20%;
}

.three-col {
    width: 70%;
}

.two-col , .one-col , .three-col {
    font-size: 4em;
    float: left;
    background-color: #313131;
    border: 1px solid black;
    color: white;
    border: 2px solid rgb(92, 92, 92);
    border-radius: 1.5em;
    margin: 2.5%;
}

.two-col:hover, .one-col:hover, .three-col:hover {
    background-color: #383838;
}

.two-col:active, .one-col:active, .three-col:active {
    background-color: #131313;
}

.two-col:focus, .one-col:focus, .three-col:focus {
    outline: 0;
}

.operators:nth-child(n+3) {
    background-color: rgb(182, 118, 0);
    color: white;
}

.operators:hover:nth-child(n+3) {
    background-color: rgb(194, 127, 2);
}

.operators:active:nth-child(n+3) {
    background-color: rgb(153, 99, 0);
}

.display {
    position: relative;
}

.expression {
    position: absolute;
    bottom: 0;
    left: 0.5em;
    color: rgba(255, 255, 255, 0.609);
    padding: 0.3em;
    font-size: 1.7em;
}